@use "../settings/variables" as *;
@use "../tools/animations" as *;

@mixin bordered-box($color, $radius: 0.3em, $padding: 1em) {
  border: 1px solid $color;
  border-radius: $radius;
  padding: $padding;
  box-sizing: border-box;
}
@mixin tab-hover {
    animation:  0.3s ease forwards;
    color: $clr-accent;
    background-color: $clr-secondary;
}
@mixin button-hover {
    animation: anticipate-scale 1.2s ease forwards;
    color: $clr-accent;
}
@mixin responsive-nav {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 0;
        list-style: none;

        li {
            box-sizing: border-box;
            border: 1px solid;
            flex: 1 ;
            text-align: center;

            margin: .5em;
            padding: 0.5em;
            transition: background 0.3s, border-color 0.3s;

            &:hover {
                // background-color: $clr-accent;
                // border-color: transparent;

                a {
                    // animation: anticipate-scale 0.3s ease-in-out forwards;
                    // color: #fff;
                    @include button-hover;
                }
            }

            a {
                display: block;
                text-decoration: none;
                transition: transform 0.3s ease, color 0.3s;
                transform-origin: center;
                color: inherit;
                animation: none;
            }
        }
    }
};
