@use "../settings/variables" as *;

.c-section {
  box-sizing: border-box;
  margin: 0.5em 0;
  opacity: 1;
  border: solid 0.2em $clr-secondary;
  scroll-margin-top: $header-height-standard;
  z-index: 0;
  h4{
    padding: $standard-padding;
  }
  &__header {
    // background: $clr-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.3em;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-xxl;
    padding: $title-padding;
  }

  &__content {
    box-sizing: border-box;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out, padding 1.8s ease;
  }
}

input[type="radio"]:checked+.c-section__header+.c-section__content {
  max-height: 10000px;
  /* enough to show content */
  padding: 1em;
}