.section__content{
  box-sizing: border-box;
  border: red 0.2em solid;
  padding: 0.3em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.section{
  &__toggle-input:checked ~ .section__content{
    max-height: 10000px;
  }
  background-color: #ce00ff;
  border:solid 0.2em #ff6800;
  
}
.section__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.3em;
}


