@use "../settings/variables" as *;


/* Mobile stacked cards */
@media (max-width: 768px) {
    .c-styled-table thead {
        display: none;
    }

    .c-styled-table tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid $clr-secondary;
        padding: 1em;
        border-radius: 8px;
        background-color: $clr-background;
        //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .c-styled-table td {
        display: block;
        text-align: right;
        padding-left: 40%;
        position: relative;
        border: none;
        border-bottom: 1px solid #eee;
    }

    .c-styled-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0.5rem;
        text-align: left;
        font-weight: bold;
        color: #555;
    }
}



//SCroll table
.c-scroll-container {
    overflow-x: auto;
    margin-bottom: 2rem;

    // Custom scrollbar for Webkit browsers (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #023821;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: $clr-background;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #6732e2;
    }
}


.c-scrollable-table {
    min-width: 600px; // wider than screen to force scroll on smaller devices
    border-collapse: collapse;

    th,
    td {
        white-space: wrap; // prevents text wrapping
    }
}

th {
    background-color: $clr-table-header-bg;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: $clr-table-alternate-bg;
}

@media (max-width: 768px) {

    .c-collapsible-table thead th:nth-child(2),
    .c-collapsible-table tbody td:nth-child(2),
    .c-collapsible-table thead th:nth-child(3),
    .c-collapsible-table tbody td:nth-child(3) {
        display: none;
    }
}

.c-table-container {
    container-type: inline-size !important;
}

.c-styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;

    @container (max-width: 800px) {
        font-size: 1.1rem;


        td,
        th {
            padding: 0.8rem;
            border: 1px solid $clr-secondary;
        }
    }
    //CONTAINER QUERY FOR TABLE
    @container (max-width: 600px) {
        font-size: 1.2rem;
       td  {
            white-space: normal; // allows wrapping
            word-wrap: break-word; // ensures long words break
            overflow-wrap: break-word; // modern standard
            font-size: 200%;
        }
        td,
        th {
            text-wrap: wrap;
            padding: 1rem;
            border: none;
        }
    }
}