@use "../settings/variables" as *;
@use "../tools/mixins" as mixins;

// Hide radio inputs
input[name="center-tabs"] {
  display: none;
}

.c-tabs {
  display: block;

  &__labels {
    display: flex;
    justify-content: space-around;
  }

  &__label {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    padding: 0.5em 1em;
    border: 1px solid $clr-accent;
    cursor: pointer;
    flex: 1;
    text-align: center;

    &--active,
    &:hover {
      background-color: $tabs-active-color;
      border-bottom: none;
    }
  }

  &__panels {
    position: relative;
    border: 1px solid $clr-accent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    padding: $standard-padding;
    background-color: $panels-background-color;
  }

  &__panel {
    display: none;

    & > * {
      flex-grow: 1;
    //   max-width: 50%;
      height: $tabs-panel-height;
    }

    &--active {
      display: flex;
      flex-direction: row;
      gap: 1em;
      margin-bottom: 1em;
    }
  }
}

// Responsive stacking
@media (max-width: 768px) {
  .c-tabs__panel--active {
    flex-direction: column; // stack children vertically
  }

  .c-tabs__panel--active > * {
    width: 100%;
  }
}
