@use "../settings/variables" as *;

@layer base {

  /* test layer: overwrites [role=list] reset layer */
  ul {
    list-style: circle;
    // padding: 2%;
  }

  /* Custom Properties */
  :root {

    line-height: 1.6;
    font-size: 1rem;
    font-family: $ff-basic;
    /* for quotation marks and the like, progressive enhancement, webkit only */
    hanging-punctuation: first last;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
    padding: $standard-padding 0;
    margin-top: 1.3em;
  }

  article {
    background: $main-bg-color;
    font-family: $ff-basic;
  }

  p {
    background: $clr-main-bg;
    padding: 5em;
  }

  a {
    color: $clr-link-color;
    text-decoration: none;
  }

  a:hover,
  a:focus-visible {
    color: $clr-green-500;
  }

  /* focus vs. focus-visible for tab,
  try both */
  button:focus-visible {
    color: $clr-red-500;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  td,
  th {
    box-sizing: border-box;
    line-height: 1.5em;
    padding: 1em;
  }


}