@use "../settings/variables" as *;
@use "../tools/mixins" as mixins;
// @import url('https://fonts.googleapis.com/css?family=Ovo:700|Ovo:400');
// @import url('https://fonts.googleapis.com/css?family=Montagu%20Slab:700|Montagu%20Slab:400');
// @import url('https://fonts.googleapis.com/css?family=Zen%20Dots:700|Zen%20Dots:400');
// @import url('https://fonts.googleapis.com/css?family=Days%20One:700|Days%20One:400');
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');


@layer base {

  /* test layer: overwrites [role=list] reset layer */
  ul {
    list-style: circle;
    // padding: 2%;
  }

  :root {
  line-height: 1.6;
    font-size: 1rem;
    background: $clr-background;
    // font-family: $ff-basic;
    /* for quotation marks and the like, progressive enhancement, webkit only */
    hanging-punctuation: first last;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }
h3{
  margin-top: $standard-margin;
}
html,
body,
footer {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: $clr-background;
}
footer{
  padding: 2em;
  // text-align: center;
  font-size: 0.9em;
  background-color: $clr-linearPrimaryAccent;
  // color: $clr-primary;
}
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}


html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
largerH1 {font-size: 5.210rem; /* 83.36px */} 



  p {
    // background: $clr-background;
    padding: 5em;
  }

  a {
    color: $clr-link-color;
    text-decoration: none;
  }

  a:hover,
  a:focus-visible {
    color: $clr-accent;
  }

  /* focus vs. focus-visible for tab,
  try both */
  button {
    @include mixins.button-primary;
    margin-top: 1em;
    align-self: flex-start;
    cursor: pointer;
  }
  button:focus-visible {
    color: $clr-accent;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  td,
  th {
    box-sizing: border-box;
    line-height: 1.5em;
    padding: 1em;
  }
  tr{
    border: 1px solid $clr-secondary;
    padding: 1em;
    border-radius: 8px;
    background-color: $clr-table-row;
  }


}