@use "../settings/variables" as *; //import variables
@use "../tools/animations" as *; //import animations

.o-page {
  padding: 1em;
  min-width: 50%;
  min-height: 100vh; //ensure full viewpoint height
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.o-header {
  z-index: 10;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7vh;

  &__text {
    @container (max-width: 600px) {
      font-size: 0.5em;
    }

    @container (max-width: 400px) {
      font-size: 1.1rem;
    }
  }
}

.o-main {
  flex: 1; // take remaning space between heaeder and footer


}

.o-footer {
  // background: $clr-linearPrimarySecondary;

  display: flex;
  justify-content: space-around;
  align-items: right;
  width: 100%;

  & p {
    display: flex;
    flex: 1;
    gap: 0.5em;
    padding: $standard-padding;
  }

  // border: #ff0076 solid 10px;


}