@charset "UTF-8";
@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    border-radius: 1.5em;
  }
  :root {
    scroll-behavior: smooth;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* or: ol, ul, dl --> semantic lists for screenreaders  */
  [role=list] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  body {
    /* vertical 
    logical properties

    Physical – height, width
    Logical – block-size, inline-size

    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_logical_properties_and_values*/
    min-block-size: 100vh;
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  /* progressive enhancement
  treating orphans */
  p,
  li {
    text-wrap: pretty;
    /* horizontal */
    max-inline-size: 60ch;
  }
  img,
  picture,
  svg,
  video {
    /* vertical sizing */
    display: block;
    /* horizontal sizing */
    max-inline-size: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /* for container-queries, just in case */
  main,
  section,
  article {
    container-type: inline-size;
  }
  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid;
  }
  a,
  button {
    cursor: pointer;
  }
}
@layer base {
  /* test layer: overwrites [role=list] reset layer */
  ul {
    list-style: circle;
  }
  /* Custom Properties */
  :root {
    --main-bg-color: hsl(0 0 90%);
    --ff-basic: Verdana;
    line-height: 1.6;
    font-size: 1rem;
    font-family: var(--ff-basic);
    /* for quotation marks and the like, progressive enhancement, webkit only */
    hanging-punctuation: first last;
  }
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  article {
    background: var(--main-bg-color);
    font-family: var(--ff-basic);
  }
  /* Structured Variables 
  move up to :root Selector,
  same with font-size, border-radius, etc. */
  :root {
    /* primitives */
    --clr-grey-300: hsl(0 0 30%);
    --clr-grey-400: hsl(0 0 40%);
    --clr-grey-500: hsl(0 0 50%);
    --clr-grey-600: hsl(0 0 60%);
    --clr-grey-700: hsl(0, 8%, 90%);
    --clr-red-500: hsl(0 100% 50%);
    --clr-blue-500: hsl(240 100% 50%);
    --clr-green-500: hsl(236, 52%, 94%);
    --clr-link-color: hsl(246, 23%, 9%);
    --clr-main-bg: var(--clr-grey-700);
    --clr-accent: var(--clr-red-500);
  }
  p {
    background: var(--clr-main-bg);
    padding: 5em;
  }
  a {
    color: var(--clr-link-color);
  }
  a:hover,
  a:focus-visible {
    color: var(--clr-green-500);
  }
  /* focus vs. focus-visible for tab,
  try both */
  button:focus-visible {
    color: var(--clr-red-500);
  }
}
.o-page {
  border: solid #2adfd0 10px;
  padding: 1em;
  min-width: 50%;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.o-header {
  border: black solid 10px;
  padding: 1em;
}

.o-main {
  border: #144cb3 solid 10px;
  flex: 1;
  padding: 1em;
}

.o-footer {
  border: #ff0076 solid 10px;
  padding: 1em;
}

.center {
  border: green 10px solid;
}
.c-section {
  box-sizing: border-box;
  margin: 0.5em 0;
  background-color: #ce00ff;
  border: solid 0.2em #ff6800;
}
.c-section__toggle-input:checked ~ .c-section__content {
  max-height: 10000px;
  padding: 0.5em;
}

.c-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.3em;
}

.c-section__title {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
}

.c-section__content {
  box-sizing: border-box;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, padding 1.8s ease;
}

.c-navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}
.c-navbar ul li {
  box-sizing: border-box;
  border: 1px solid;
  flex: 1 1 20em;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  transition: background 0.3s, border-color 0.3s;
}
.c-navbar ul li:hover {
  background-color: hsl(322, 74%, 62%);
  border-color: transparent;
}
.c-navbar ul li:hover a {
  transform: scale(1.2);
  color: #fff;
}
.c-navbar ul li a {
  display: block;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s;
  transform-origin: center;
  color: inherit;
}
.c-navbar ul li a:active {
  color: hsl(270, 74%, 73%);
}

/*# sourceMappingURL=main.css.map */
