@charset "UTF-8";
@keyframes anticipate-scale {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    border-radius: 0.5em;
  }
  :root {
    scroll-behavior: smooth;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* or: ol, ul, dl --> semantic lists for screenreaders  */
  [role=list] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  body {
    /* vertical 
    logical properties

    Physical – height, width
    Logical – block-size, inline-size

    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_logical_properties_and_values*/
    min-block-size: 100vh;
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  /* progressive enhancement
  treating orphans */
  p,
  li {
    text-wrap: pretty;
    /* horizontal */
    max-inline-size: 60ch;
  }
  img,
  picture,
  svg,
  video {
    /* vertical sizing */
    display: block;
    /* horizontal sizing */
    max-inline-size: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /* for container-queries, just in case */
  main,
  section,
  article {
    container-type: inline-size;
  }
  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid;
  }
  a,
  button {
    cursor: pointer;
  }
}
@layer base {
  /* test layer: overwrites [role=list] reset layer */
  ul {
    list-style: circle;
  }
  /* Custom Properties */
  :root {
    --main-bg-color: hsl(0 0 90%);
    --ff-basic: "Open Sans", Verdana, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    font-family: var(--ff-basic);
    /* for quotation marks and the like, progressive enhancement, webkit only */
    hanging-punctuation: first last;
  }
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  article {
    background: var(--main-bg-color);
    font-family: var(--ff-basic);
  }
  /* Structured Variables 
  move up to :root Selector,
  same with font-size, border-radius, etc. */
  :root {
    /* primitives */
    --clr-grey-300: hsl(0 0 30%);
    --clr-grey-400: hsl(0 0 40%);
    --clr-grey-500: hsl(0 0 50%);
    --clr-grey-600: hsl(0 0 60%);
    --clr-grey-700: hsl(0, 0%, 100%);
    --clr-red-500: hsl(0 100% 50%);
    --clr-blue-500: hsl(240 100% 50%);
    --clr-green-500: hsl(167, 72%, 17%);
    --clr-link-color: hsl(246, 23%, 9%);
    --clr-main-bg: var(--clr-grey-700);
    --clr-accent: var(--clr-red-500);
  }
  p {
    background: var(--clr-main-bg);
    padding: 5em;
  }
  a {
    color: var(--clr-link-color);
    text-decoration: none;
  }
  a:hover,
  a:focus-visible {
    color: var(--clr-green-500);
  }
  /* focus vs. focus-visible for tab,
  try both */
  button:focus-visible {
    color: var(--clr-red-500);
  }
}
.o-page {
  border: solid #2adfd0 10px;
  padding: 1em;
  min-width: 50%;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.o-header {
  border: black solid 10px;
  padding: 1em;
}

.o-main {
  border: #144cb3 solid 10px;
  flex: 1;
  padding: 1em;
}

.o-footer {
  display: flex;
  justify-content: space-around;
  align-items: right;
  width: 100%;
  border: #ff0076 solid 10px;
}
.o-footer p {
  display: flex;
  flex: 1;
  gap: 0.5em;
  padding: 0.5em;
}

.o-center-demo__box-container {
  position: relative;
  border: 1px solid hsl(327, 64%, 50%);
  border-radius: 0.3em;
  height: 20rem;
  background-color: hsl(305, 49%, 97%);
}
.o-center-demo__box {
  border: solid 0.2em hsl(327, 64%, 50%);
  width: 25vh;
  height: 25vh;
  background-color: hsl(327, 64%, 50%);
  color: hsl(305, 49%, 97%);
  align-content: center;
  text-align: center;
}
.o-center-demo--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-center-demo--grid {
  display: grid;
  align-items: center;
  justify-items: center;
}
.o-center-demo--relative {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.o-center-demo--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-section {
  box-sizing: border-box;
  margin: 0.5em 0;
  border: solid 0.2em hsl(327, 64%, 50%);
}
.c-section__toggle-input:checked ~ .c-section__content {
  max-height: 10000px;
  padding: 0.5em;
}
.c-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.3em;
}
.c-section__title {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
}
.c-section__content {
  box-sizing: border-box;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, padding 1.8s ease;
}

.c-navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}
.c-navbar ul li {
  box-sizing: border-box;
  border: 1px solid;
  flex: 1;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  transition: background 0.3s, border-color 0.3s;
}
.c-navbar ul li:hover a {
  animation: anticipate-scale 1.2s ease forwards;
  color: hsl(322, 74%, 62%);
}
.c-navbar ul li a {
  display: block;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s;
  transform-origin: center;
  color: inherit;
  animation: none;
}

input[name=center-tabs] {
  display: none;
}

.c-tabs {
  display: block;
}
.c-tabs__labels {
  display: flex;
  justify-content: space-around;
}
.c-tabs__label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  padding: 0.5em 1em;
  border: 1px solid hsl(322, 74%, 62%);
  cursor: pointer;
  flex: 1;
  text-align: center;
}
.c-tabs__label--active, .c-tabs__label:hover {
  background-color: hsl(305, 49%, 99%);
  border-bottom: none;
}
.c-tabs__panels {
  position: relative;
  border: 1px solid hsl(322, 74%, 62%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  padding: 0.5em;
  background-color: hsl(305, 49%, 97%);
}
.c-tabs__panel {
  display: none;
}
.c-tabs__panel > * {
  flex-grow: 1;
  height: 50vh;
}
.c-tabs__panel--active {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .c-tabs__panel--active {
    flex-direction: column;
  }
  .c-tabs__panel--active > * {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
